<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.itunesapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MaterialAppTheme"
        android:usesCleartextTraffic="true">
        <service
            android:name=".ui.MediaService"
            android:enabled="true"
            android:exported="true"></service>

        <activity android:name=".ui.activity.MediaPlayerActivity" />
        <activity
            android:name=".ui.activity.AlbumDetailActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activity.SearchAlbumActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".MediaService" />
    </application>

</manifest>